[Unit]
Description=Flask Silo API
After=network.target sensor-daemon.service

[Service]
Type=simple
User=root
WorkingDirectory=/var/lib/silo-monitor-flask
ExecStart=/usr/bin/python3 /var/lib/silo-monitor-flask/flask-main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
