[Unit]
Description=Python HTTP Server for silo-web
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var//www/html
ExecStart=/usr/bin/python3 -m http.server 8000
Restart=always

[Install]
WantedBy=multi-user.target
