[Unit]
Description=Silo Monitor Sensors Application
After=network.target
StartLimitIntervalSec=200
StartLimitBurst=5

[Service]
Type=simple
User=root
ExecStart=/usr/bin/silo-monitor-sensors-app
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target